name: cardano_flutter_sdk
description: Targeting Flutter apps, the Cardano Wallet SDK is a high-level Dart library for parsing and signing transactions.
version: 3.1.1
homepage: https://github.com/vespr-wallet/cardano_dart_sdk
repository: https://github.com/vespr-wallet/cardano_dart_sdk
issue_tracker: https://github.com/vespr-wallet/cardano_dart_sdk/issues

environment:
  sdk: ">=3.10.0 <4.0.0"
  # flutter: ">=3.38.1"

dependencies:
  bip32_ed25519: ^0.6.2 # for generating/deriving keys
  bip39_plus: ^1.1.1 # VESPR fork of bip39
  cardano_dart_types: 2.11.2 # lock version because of web workers
  cbor: ^6.3.7 # to encode/decode cbor transactions
  collection: ^1.18.0 # to use collection extension methods
  fast_base58: ^0.2.1 # to/from base58 string conversion (used for byron addresses)
  hex: ^0.2.0 # to/from hex string conversion
  meta: ^1.0.0 # keep min version low for compatibility with older flutter versions
  pinenacl: ^0.6.0 # for cryptographic signatures and hashing
  squadron: ^7.4.0 # to use squadron for parallel processing
  # dartz: ^0.10.1 # to return Either<success, error>

dev_dependencies:
  build_runner: any
  lints: ^6.0.0
  squadron_builder: ^9.0.0+1
  test: ^1.26.3
  # dependency_validator: ^4.0.0
  #  mockito: ^5.4.2

# dependency_overrides:
#   cardano_dart_types:
#     path: ../cardano_dart_types

flutter:
  assets:
    - packages/cardano_flutter_sdk/workers/wallet_tasks.web.g.dart.js
    - packages/cardano_flutter_sdk/workers/wallet_tasks.web.g.dart.mjs
    - packages/cardano_flutter_sdk/workers/wallet_tasks.web.g.dart.wasm
    - packages/cardano_flutter_sdk/workers/wallet_tasks.web.g.loader.js
